/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Common Styles */
body {
    font-family: 'Work Sans', sans-serif;
}

/* Header styles */
.header {
    width: 1920px;
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav Styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.menu-title a {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    text-decoration: none;
}
.menu-bar ul{
    display: flex;

}
.menu-bar ul li{
    list-style: none;
    margin-left: 30px;
}
.menu-bar ul li a{
    color: #424242;
    ;
    font-weight: 500;
    font-size: 18px;
    ;
    text-decoration: none;
}

/* Banner Styles */
.banner-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-bottom: 5px;
}

.banner-info {
    color: #727272;
    font-size: 16px;
    text-align: center;
}

.primary-btn {
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin: 30px 0 50px 0;
}
.primary-btn:hover{
    cursor: pointer;
}

.banner-details img {
    width: 1440px;
    height: 720px;
    margin: 0 240px;
    border-radius: 8px;
}

/* Feature styles */
.feature {
    display: flex;
    align-items: center;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-left: 300px;
}

.our-feature {
    margin-left: 70px;
    margin-right: 300px;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.feature-details {
    color: #727272;
    font-size: 16px;
    margin: 0;
}

.our-feature .ftr {
    color: #FF900E;
}

.our-feature .ql {
    color: #727272;
}

/* Feature Point Styles */
.architect-feature {
    display: flex;
    margin: 130px 240px;
    gap: 54px;
}

.all-feature-points {
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    margin-right: 50px;
}

.feature-sub-point {
    width: 586px;
    height: 171px;
    padding: 30px;
    color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature-point .desc {
    color: #727272;
    font-size: 16px;
}

.vl-title {
    display: flex;
}

.vl {
    border-left: 6px solid #FF900E;
    width: 5px;
    height: 106px;
}

.title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.sub-dscp {
    color: #727272;
    font-size: 16px;
}

.architect-img {
    position: relative;
}


/* Experience button styles */
.exp-btn {
    width: 342px;
    height: 200px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding-bottom: 0;
    position: absolute;
    content: "";
    left: -100px;
    bottom: 100px;

}

.exp {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
}

/* Facts styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 124px;
    margin: 100px 290px 180px 290px;
}

.facts-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-left: 240px;
}

.facts-dsc {
    color: #727272;
    font-size: 16px;
    margin-left: 240px;
}

.container {
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    position: relative;
    transition: transform 3s;
}
.container:hover{
    cursor: pointer;
    transform: rotate(360deg);
}

.container h5 {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin: 0;
}

.filled {
    width: 170px;
    height: 135px;

    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* Sponsors Styles */
.sponsors-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}
.sponsors-info{
    color: #727272;
    font-size: 16px;
    text-align: center;
}
.sponsors-details{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 155px;
    margin: 50px 240px 130px 240px;
}
.sponsors-details img{
    filter: grayscale(100%);
}

/* Footer Styles */
.footer{
    background-color: #FFF4E7;
    border-radius: 8px;
    margin: 140px 240px 216px 240px;
}
.text{
    color: #424242;
    font-size: 20px;
    text-align: center;
    padding: 40px 410px;
}

/* Responsive media */
@media only screen and (max-width: 576px) {
    .header{
        width: 100%;
        height: 100vh;
    }
    nav,
    .menu-bar ul
     {
        flex-direction: column;
    }
    .banner-details img{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .banner-title{
        font-size: 25px;
    }
    .feature{
        flex-direction: column;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        margin-top: 130px;
    }
    .our-feature{
        margin-left: 10px;
        margin-right: 0;
    }
    .feature-title{
        font-size: 25px;
    }
    .architect-feature{
        flex-direction: column;
        margin: 10px;
    }
    .all-feature-points{
        margin: 10px;
    }
    .feature-sub-point{
        width: 300px;
        height: 300px;
    }
    .architect-img img{
        width: 100%;
    }
    .exp-btn{
        width: 200px;
    height: 100px;
    
    font-weight: 700;
    font-size: 25px;
    left: -10px;
    bottom: 40px;

    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr) ;
    }
    .facts-title, .facts-dsc{
        margin-left: 10px;
    }
    .facts-container{
        margin-left: 50px;
    }
    .sponsors-details{
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 10px;
    }
    .footer{
        height: 350px;
        width: 500px;
    }
    .footer{
        margin: 0;
        width: 350px;
        height: 100px;
    }
    .text{
        padding: 0 20px;
    }
}

